@import 'Variables';

.div{
    &-base{
        background-color: $plain;
        height: auto;
        margin: 5px;
    }
    &-header{
        padding: 10px;
        border-bottom: $thin-border;
        .page-title{
            font-size: $font-lg;
            font-weight: bold;
        }
    }
    &-body{
        margin: 5px;
        display: flex;
        .form-inputs{
            width: 30%;
        }
    }
    &-footer{
        float:right;
        button{
            margin: 3px;
            width: 100px;
        }
    }
}