//color theme
$primary: #A3F535;

//borders
$thin-border: 1px black solid;
$thick-border: 5px black solid;

//padding
$thin-padding: 0.5px;
$thick-padding: 5px;

//Background color theme
$plain: #FFFFFF;
$dark: #272D2F;

//font sizes
$font-base: 12px;
$font-sm: $font-base * 0.75;
$font-m: $font-base;
$font-lg: $font-base * 1.5;